<html lang="es">

<head>
  <meta content = text/html charset=UTF-8>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=yes" />

  <!-- Site Properties -->
  <title>Herbario UNPHU</title>

  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static '3rd_party/semantic/semantic.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'adm/css/site.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'adm/css/container.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'adm/css/menu.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'adm/css/dropdown.css' %}"/>

  <script type="text/javascript" src="{% static '3rd_party/jquery/jquery-2.2.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static '3rd_party/semantic/semantic.js' %}"></script>

  <style type="text/css">
  body {
    background-color: #FFFFFF;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 7em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  </style>

</head>

<body>
	<div class="ui fixed inverted menu">
	    <div class="ui container">
	      <a href="#" class="header item">
	        <img class="logo" src="{% static 'adm/img/UNPHU.jpg' %}">
	        Herbario UNPHU
	      </a>
	      <a href="/adm/form/search" class="item">Consulta</a>
	      <div class="ui simple dropdown item">
	        Registro <i class="dropdown icon"></i>
	        <div class="menu">
	          <a class="item" href="/adm/form/survey">Formulario de encuesta</a>
            <a class="item" href="/adm/form/herbal">Herbario</a>
	        </div>
	      </div>

	      <div class="ui simple dropdown item">
		    Administración <i class="dropdown icon"></i>
		      <div class="menu">
          <div class="header">Tablas de control</div>
          <div class="divider"></div>
		       <a class="item" href="/adm/form/herbal_management">Plantas</a>
		       <a class="item" href="/adm/form/deseases_management">Enfermedades</a>
           <a class="item" href="#">Profesionales de la salud</a>
          <div class="header">Formularios</div>
            <a class="item" href="/adm/form/form_management">Administrar</a>
          <div class="header">Usuarios y permisos</div>
          <div class="divider"></div>
          <a class="item" href="/adm/form/users">Usuarios</a>
	          	
		    </div>
		  </div>
	      
	    </div>
	</div>

	<div class="ui main text container">
	{% csrf_token %}
  {% block content %}{% endblock %}
	</div>
  
</body>
</html>
