<title>Adm. enfermedades</title>

{% extends "main.html" %}

{% block content %}

{% load staticfiles %}
	
<link rel="stylesheet" type="text/css" href="{% static 'adm/css/main.css' %}"/>

<div class="quiz-content">

    <form class="ui form">

      <h2 class="ui non-dividing header">Enfermedades</h2>
      
      <!-- TABLA ENFERMEDADES -->
      <div class="user-form">
          <h4 class="ui dividing header"></h4>


          <div class="ui search" style="margin-bottom:10px;">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Buscar enfermedades">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>

              <table class="ui compact celled definition table">
                <thead class="full-width">
                  <tr>
                    <th>#</th>
                    <th>Enfermedad</th>
                    <th>Categoría</th>
                    <th>Síntomas</th>
                    <th>Operación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="ui small basic icon buttons">
                          <button class="ui button"><i class="file icon"></i></button>
                          <button class="ui button"><i class="delete icon"></i></button>
                      </div>
                    </td>
                  </tr>
                 

                </tbody>
              </table>

          <div class="form actions">
              <div class="ui right floated pagination menu">
                <a class="icon item">
                  <i class="left chevron icon"></i>
                </a>
                <a class="item">1</a>
                <a class="item">2</a>
                <a class="item">3</a>
                <a class="item">4</a>
                <a class="icon item">
                  <i class="right chevron icon"></i>
                </a>
              </div>

              <a class="ui button" href="#">Nuevo</a>
          </div>
          
      </div>

  </form>

</div>
	


{% endblock %}
 