<title>Formulario de encuesta</title>

{% extends "main.html" %} {% block content %} {% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'adm/css/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'adm/css/survey_form.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '3rd_party/alertify/css/alertify.css' %}" />

<div class="quiz-content">
    <div class="current-form-id formId" style="display: none;" value={{formId}}>{{formId}}</div>
    
    <form class="ui form">

        <div class="two fields">
            <div class="field">
                <h2 class="ui non-dividing header">Formulario de encuesta</h2>
            </div>
            <div class="field">
                <input type="date" class="date form-date" style="width:160px; height:30px; float:right;">
            </div>
        </div>

        <div class="field">
            <div class="ui checkbox checkbox">
                <input type="checkbox" class="hidden isMainForm" tabindex="0">
                <label>Formulario principal</label>
            </div>
        </div>


        <h4 class="ui dividing header">Datos del entrevistador</h4>
        <div class="field">
            <label>Nombre</label>
            <div class="field interviewer-name-div">
                <select class="ui search dropdown interviewer interviewer-name">
						<option value="">Entrevistador</option>
				</select>
            </div>
        </div>

        <h4 class="ui dividing header">Datos del entrevistado</h4>
        <div class="field">
            <label>Nombre y apellido</label>
            <div class="two fields">
                <div class="field">
                    <input type="text" class="interviewed interviewed-name" placeholder="Nombres">
                </div>
                <div class="field">
                    <input type="text" class="interviewed interviewed-lastname" placeholder="Apellidos">
                </div>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>Ocupación</label>
                <div class="field">
                    <input type="text" class="interviewed interviewed-occupation" placeholder="Ocupación">
                </div>
            </div>

            <div class="field">
                <label>Genero</label>
                <div class="field">
                    <select class="ui search dropdown interviewed interviewed-gender">
					  <option value="">Seleccione el genero</option>
					  <option value="M">Masculino</option>
					  <option value="F">Femenino</option>
					</select>
                </div>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>Provincia</label>
                <select class="ui search dropdown interviewed interviewed-province">
					<option value="">Seleccione la provincia</option>
				</select>
            </div>
            <div class="field">
                <label>Pueblo</label>
                <select class="ui search dropdown interviewed interviewed-village">
					<option value="">Seleccione el pueblo</option>
				</select>
            </div>
        </div>

        <div class="grouped fields">
            <label for="fruit">Educación:</label>
            <div class="field">
                <div class="ui checkbox checkbox">
                    <input type="checkbox" class="hidden interviewed interviewed-education" value="Ninguna" tabindex="0">
                    <label>Ninguna</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox">
                    <input type="checkbox" class="hidden interviewed interviewed-education" value="Primaria" tabindex="0">
                    <label>Primaria</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox">
                    <input type="checkbox" class="hidden interviewed interviewed-education" value="Secundaria" tabindex="0">
                    <label>Secundaria</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox">
                    <input type="checkbox" class="hidden interviewed interviewed-education" value="Técnico" tabindex="0">
                    <label>Técnico</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox">
                    <input type="checkbox" class="hidden interviewed interviewed-education" value="Universitario" tabindex="0">
                    <label>Universitario</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox">
                    <input type="checkbox" class="hidden interviewed interviewed-education" value="Otro" tabindex="0">
                    <label>Otro</label>
                </div>
            </div>
        </div>

        <h4 class="ui dividing header">Enfermedades</h4>

        <div class="field">
            <label>Persona quien se enfermo recientemente</label>
            <div class="two fields">
                <div class="field">
                    <input type="text" class="diseases sick-person" placeholder="Nombre">
                </div>
                <div class="field">
                    <select class="ui search dropdown diseases person-diseases">
                        <option value="">¿Cual fue su enfermedad?</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label>Sintomas</label>
            <div class="two fields">
                <div class="field">
                    <select multiple="" class="ui search dropdown diseases person-symptom">
                        <option value="">Sintomas</option>
                    </select>
                </div>
                <!--<div class="field">
                    <input type="text" class="diseases person-symptom" placeholder="Separe los sintomas por coma (,)">
                </div>-->
            </div>
        </div>

        <div class="grouped fields">
            <label for="fruit">Medida(s) tomada:</label>
            <div class="field">
                <div class="ui checkbox checkbox-illness-mt">
                    <input type="checkbox" class="hidden diseases person-mt" value="Le llevó al médico" tabindex="0">
                    <label>Le llevó al médico</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-illness-mt">
                    <input type="checkbox" class="hidden diseases person-mt" value="Le llevó al farmacia" tabindex="0">
                    <label>Le llevó al farmacia</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-illness-mt">
                    <input type="checkbox" class="hidden diseases person-mt" value="Le llevó al curandero" tabindex="0">
                    <label>Le llevó al curandero</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-illness-mt">
                    <input type="checkbox" class="hidden diseases person-mt" value="Le llevó al brujo" tabindex="0">
                    <label>Le llevó al brujo</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-illness-mt">
                    <input type="checkbox" class="hidden diseases person-mt chhometraitment" value="Le dio tratamiento en casa" tabindex="0">
                    <label>Le dio tratamiento en casa</label>
                </div>
            </div>
        </div>

        <div class="ui forms">
            <div class="grouped fields optional mot">
                <label>¿Conoce algun tratamiento para esta enfermedad?</label>
                <div class="field">
                    <div class="ui radio checkbox radio-illness-mot">
                        <input type="radio" value="true">
                        <label>Si</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox radio-illness-mot">
                        <input type="radio" value="false" checked="checked">
                        <label>No</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- QUESTION NUMBER 9 (OPTIONAl)-->
        <div class="plant-uses-div optional qnine main-form-traitment" style="margin-top:20px;">

            <div class="plant-uses-default-pattern form-content">
            <h4 class="ui dividing header">Uso(s) de la planta</h4>
            <div class="field">
                <label>Tratamiento (planta)</label>
                <div class="two fields">
                    <div class="field">
                        <select class="ui search dropdown plant-uses plant">
                            <option value="">Nombre de la planta</option>
                        </select>
                    </div>
                    <div class="field">
                        <input type="text" class="plant-uses othername" placeholder="Otro nombre">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Tratamiento (preparación)</label>
                <div class="field">
                    <div class="field">
                        <textarea type="text" class="plant-uses treatment-description" placeholder="Descripcion de preparacion del tratamiento..."></textarea>
                    </div>
                </div>
            </div>

            <div class="grouped fields">
                <label for="fruit">Partes de la planta usadas:</label>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden plant-uses used-parts" value="Entera" tabindex="0">
                        <label>Entera</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden plant-uses used-parts" value="Tallo" tabindex="0">
                        <label>Tallo</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden plant-uses used-parts" value="Hojas" tabindex="0">
                        <label>Hojas</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden plant-uses used-parts" value="Corteza" tabindex="0">
                        <label>Corteza</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden plant-uses used-parts" value="Raiz" tabindex="0">
                        <label>Raiz</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden plant-uses used-parts" value="Flores" tabindex="0">
                        <label>Flores</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden plant-uses used-parts" value="Fruto" tabindex="0">
                        <label>Fruto</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden plant-uses used-parts" value="Semilla" tabindex="0">
                        <label>Semilla</label>
                    </div>
                </div>
            </div>

            <div class="grouped fields">
                <label for="fruit">Aplicación del tratamiento:</label>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden plant-uses application" value="Té" tabindex="0">
                        <label>Té</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden plant-uses application" value="Parche" tabindex="0">
                        <label>Parche</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden plant-uses application" value="Infusión" tabindex="0">
                        <label>Infusión</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui text checkbox">
                        <input type="text" class="plant-uses application other" tabindex="0" placeholder="Otro">
                    </div>
                </div>
            </div>

            <div class="three fields">
                <div class="field">
                    <label>Dosis:</label>
                    <div class="field">
                        <div class="field">
                            <input type="text" class="plant-uses dose" placeholder="Cantidad/Frecuencia (Taza por dia)">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Dosis para niños:</label>
                    <div class="field">
                        <div class="field">
                            <input type="text" class="plant-uses dose-children" placeholder="Cantidad/Frecuencia (Taza por dia)">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Dosis para embarazadas:</label>
                    <div class="field">
                        <div class="field">
                            <input type="text" class="plant-uses dose-pregnant" placeholder="Cantidad/Frecuencia (Taza por dia)">
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="ui dividing header">Historia del uso de la planta</h4>

            <div class="field">
                <label>¿Ha usado mas veces la planta?</label>
                <div class="two fields">
                    <div class="field">
                        <input type="text" class="history use-results" placeholder="¿Cuales fueron los resultados?">
                    </div>
                </div>
            </div>

            <div class="grouped fields">
                <label for="fruit">Origen del tratamiento:</label>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="history treatment-origin" value="Mama" tabindex="0" class="hidden">
                        <label>Mama</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="history treatment-origin" value="Papa" tabindex="0" class="hidden">
                        <label>Papa</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="history treatment-origin" value="Abuelo" tabindex="0" class="hidden">
                        <label>Abuelo</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="history treatment-origin" value="Abuela" tabindex="0" class="hidden">
                        <label>Abuela</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="history treatment-origin" value="Otro familiar" tabindex="0" class="hidden">
                        <label>Otro familiar</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="history treatment-origin" value="Vecino" tabindex="0" class="hidden">
                        <label>Vecino</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui text checkbox">
                        <input type="text" class="history treatment-origin other" tabindex="0" placeholder="Otro">
                    </div>
                </div>
            </div>

            <h4 class="ui dividing header">Etnobotánica</h4>

            <div class="grouped fields">
                <label for="fruit">Origen de la planta:</label>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden ethnobotany plant-origin" value="Patio de la casa" tabindex="0">
                        <label>Patio de la casa</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden ethnobotany plant-origin" value="Vecino" tabindex="0">
                        <label>Vecino</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden ethnobotany plant-origin" value="Familiar" tabindex="0">
                        <label>Familiar</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui text checkbox">
                        <input type="text" class="ethnobotany plant-origin market-name" tabindex="0" placeholder="Mercado">
                    </div>
                </div>
                <div class="field">
                    <div class="ui text checkbox">
                        <input type="text" class="ethnobotany plant-origin other" tabindex="0" placeholder="Otro (lugar donde se recolecta)">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Existencia</label>
                <div class="two fields">
                    <div class="field">
                        <input type="text" class="ethnobotany plant-existence" placeholder="Cantidad de plantas">
                    </div>
                </div>
            </div>

            <div class="grouped fields">
                <label for="fruit">Posibilidad de recolección:</label>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden ethnobotany plant-picking" value="Siempre" tabindex="0">
                        <label>Siempre</label>
                    </div>
                </div>
                <label>Momentos especiales:</label>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden ethnobotany plant-picking" value="En la madrugada" tabindex="0">
                        <label>En la madrugada</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden ethnobotany plant-picking" value="En viernes santo" tabindex="0">
                        <label>En viernes santo</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox checkbox">
                        <input type="checkbox" class="hidden ethnobotany plant-picking" value="Luna llena" tabindex="0">
                        <label>Luna llena</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui text checkbox">
                        <input type="text" class="ethnobotany plant-picking other" tabindex="0" placeholder="Otro">
                    </div>
                </div>
            </div>
            </div> <!-- Plant use default pattern -->

            <h4 class="ui dividing header">Otras enfermedades</h4>

            <div class="field">
                <label>¿Conoce otras plantas medicinales?</label>
                <div class="two fields">
                    <div class="field">
                        <select class="ui search dropdown other-diseases other-plant">
                            <option value="">Nombre de la planta</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <!-- Qnine-->

        <h4 class="ui dividing header optional autohide">Otras enfermedades</h4>

        <div class="grouped fields">
            <label for="fruit">¿Que tratamiento usa para estas enfermedades? <span style="font-weight: lighter;">(seleccionela(s) y complete el formulario que se desplegará abajo)</span></label>
            <div class="field">
                <div class="ui checkbox checkbox-other-treatments open-form">
                    <input type="checkbox" value="Diarrea" tabindex="0" class="hidden checkbox-other-treatments-form">
                    <label>Diarrea</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-other-treatments open-form">
                    <input type="checkbox" value="Gripe" tabindex="0" class="hidden checkbox-other-treatments-form">
                    <label>Gripe</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-other-treatments open-form">
                    <input type="checkbox" value="Parásitos" tabindex="0" class="hidden checkbox-other-treatments-form">
                    <label>Parásitos</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-other-treatments open-form">
                    <input type="checkbox" value="Menstruación" tabindex="0" class="hidden checkbox-other-treatments-form">
                    <label>Menstruación</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-other-treatments open-form">
                    <input type="checkbox" value="Vomitos" tabindex="0" class="hidden checkbox-other-treatments-form">
                    <label>Vomitos</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-other-treatments open-form">
                    <input type="checkbox" value="Flujo vaginal" tabindex="0" class="hidden checkbox-other-treatments-form">
                    <label>Flujo vaginal</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-other-treatments open-form">
                    <input type="checkbox" value="Piel" tabindex="0" class="hidden checkbox-other-treatments-form">
                    <label>Piel</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-other-treatments open-form">
                    <input type="checkbox" value="Dolor de riñones o cintura" tabindex="0" class="hidden checkbox-other-treatments-form">
                    <label>Dolor de riñones o cintura</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-other-treatments open-form">
                    <input type="checkbox" value="Dolor de cabeza" tabindex="0" class="hidden checkbox-other-treatments-form">
                    <label>Dolor de cabeza</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox checkbox-other-treatments open-form">
                    <input type="checkbox" value="Dolor de barriga" tabindex="0" class="hidden checkbox-other-treatments-form">
                    <label>Dolor de barriga</label>
                </div>
            </div>
        </div>

        <div class="other-illness other-treatments-form div">

        </div>

        <div class="ui button" tabindex="0">Descartar</div>
        <div class="ui button save_form" tabindex="0">Guardar formulario</div>
    </form>
</div>

<div class="loader-animation form-datafetch-loading">
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
    </div>
</div>



<div id="inferior">
    <table>
        <tr>    
            <td><div class="ui button" tabindex="0">Descartar</div></td>
            <td><div class="ui button save_form" tabindex="0">Guardar</div></td>
        </tr>
    </table>
</div>



<script type="text/javascript" src="{% static 'adm/js/form_scripts.js' %}"></script>
<script type="text/javascript" src="{% static '3rd_party/alertify/js/alertify.js' %}"></script>

{% endblock %}