<title>Adm. Encuestas</title>

{% extends "main.html" %}

{% block content %}

{% load staticfiles %}
	
<link rel="stylesheet" type="text/css" href="{% static 'adm/css/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'adm/css/herbal_manage.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'adm/css/common.css' %}"/>


<div class="quiz-content">

    <form class="ui form">

      <h2 class="ui non-dividing header">Encuestas</h2>
      
      <!-- TABLA ENCUESTAS -->
      <div class="quizforms-form">
          <h4 class="ui dividing header info_section noDisplay"></h4>

          <div class="ui search noDisplay" style="margin-bottom:10px;">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Buscar formularios">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>

          <div class="table-div control noDisplay">
              <table class="ui compact celled definition table">
                <thead class="full-width">
                  <tr>
                    <th>No.</th>
                    <th>Entrevistador</th>
                    <th>Entrevistado</th>
                    <th>Enfermedad</th>
                    <th>Fecha</th>
                    <th>Principal</th>
                    <th>Operación</th>
                  </tr>
                </thead>
                <tbody class="table-body quiz-management search-result">

                </tbody>
              </table>
          </div>

          <div class="form actions pagcontrol noDisplay">
            <div class="ui right floated pagination menu">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item first">1</a>
              <a class="item">3</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="item disabled">...</a>
              <a class="item last">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div> 
          </div>

          <a class="ui button" href="/adm/form/survey">Nuevo</a>
          
      </div>

  </form>

</div>
	

	<script type="text/javascript" src="{% static 'adm/js/quiz_form_scripts.js' %}"></script>
  <script type="text/javascript" src="http://pagination.js.org/dist/2.0.7/pagination.min.js"></script>

{% endblock %}
 