<title>Herbario</title>

{% extends "main.html" %}

{% block content %}

{% load staticfiles %}
	
<link rel="stylesheet" type="text/css" href="{% static 'adm/css/main.css' %}"/>

<div class="quiz-content">

	<form class="ui form">

		<div class="two fields">
		    <div class="field">
		      	<h2 class="ui non-dividing header">Herbario</h2>
		    </div>
		    <div class="field" >
		      	<input type="text" style="width:160px; height:30px; float:right;" placeholder="No. de colección">
		    </div>
		</div>
		

		<h4 class="ui dividing header">Aspectos botánicos</h4>

		<div class="two fields">
		    <div class="field">
				<label>Nombre de la panta</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="Nombre común">
				</div>
			</div>
		    <div class="field">
				<label>Familia</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="Familia a la que pertenece">
				</div>
			</div>
		</div>

		<div class="field">
			<label>Nombre latín</label>
			<div class="three fields">
			   	<div class="field">
			        <input type="text" placeholder="Genero">
			    </div>
			    <div class="field">
			        <input type="text" placeholder="Especie">
			    </div>
			    <div class="field">
			        <input type="text" placeholder="Autor">
			    </div>
			</div>
		</div>

		<div class="two fields">
		    <div class="field">
				<label>Pais</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="Pais">
				</div>
			</div>
		    <div class="field">
				<label>Provincia</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="Provincia">
				</div>
			</div>
		</div>

		<div class="two fields">
		    <div class="field">
				<label>Localidad</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="Lugar">
				</div>
			</div>
		    <div class="field">
				<label>Coordenadas geograficas</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="Coordenadas">
				</div>
			</div>
		</div>

		<div class="two fields">
		    <div class="field">
				<label>Vegetación</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="">
				</div>
			</div>
		    <div class="field">
				<label>Especies asociadas</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="">
				</div>
			</div>
		</div>

		<div class="two fields">
		    <div class="field">
				<label>Flor</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="">
				</div>
			</div>
		    <div class="field">
				<label>Fruto</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="">
				</div>
			</div>
		</div>

		<div class="two fields">
		    <div class="field">
				<label>Altura</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="">
				</div>
			</div>
		    <div class="field">
				<label>Descripción</label>
				<div class="field">
				    <textarea type="text" name="shipping[last-name]" placeholder="Descripcion de la planta..."></textarea>
				</div>
			</div>
		</div>

		<div class="field">
			<label>Foto de la planta</label>
			<div class="three fields">
			   	<div class="field">
			        <input type="file" placeholder="Genero">
			    </div>
			</div>
		</div>

		<div class="two fields">
		    <div class="field">
				<label>Recolector</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="">
				</div>
			</div>
		    <div class="field">
				<label>Determinado por:</label>
				<div class="field">
				    <input type="text" name="shipping[last-name]" placeholder="">
				</div>
			</div>
		</div>



		<div class="ui button" tabindex="0">Guardar formulario</div>
	</form>

</div>
	

	<script type="text/javascript" src="{% static 'adm/js/form_scripts.js' %}"></script>

{% endblock %}
 