<title>Consultas</title>

{% extends "main.html" %}

{% block content %}

{% load staticfiles %}
	
<link rel="stylesheet" type="text/css" href="{% static 'adm/css/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'adm/css/search_form.css' %}"/>

<div class="quiz-content">

	<form class="ui form">

		<h2 class="ui dividing header">Consulta</h2>

		<div class="search-div">
			<div class="field">
				<label>Seleccione el campo que desea recuperar</label>
				<div class="two fields">
				    <div class="field">
				       	<select class="ui search dropdown">
						    <option value="">Planta</option>
						    <option value="">Tratamiento</option>
						    <option value="">Aplicacion</option>
						    <option value="AL">Lugar</option>
						    <option value="AL">Enfermedad</option>
						    <option value="AL">Sintomas</option>
						    <option value="AL">Dosis</option>
						</select>
				    </div>
				</div>
			</div>

			<div class="field">
				<label>Delimitantes <br><span style="font-weight: lighter;">Seleccione las restrinciones especificas para el filtrado de la consulta.</span></label>
				<div class="search-conditions-div">
					<div class="two fields">
					    <div class="field">
					       	<select class="ui search dropdown">
					       		<option value="">Seleccione un campo</option>
							    <option value="p">Planta</option>
							    <option value="t">Tratamiento</option>
							    <option value="a">Aplicacion</option>
							    <option value="AL">Lugar</option>
							    <option value="AL">Enfermedad</option>
							    <option value="AL">Sintomas</option>
							    <option value="AL">Dosis</option>
							</select>
					    </div>
					    <div class="field">
					       	<input type="text" placeholder="Valor">
					    </div>
					    <div class="field">
					       	<a class="ui button add-condition">x</a>
					    </div>
					</div>
				</div>
			</div>

			<div class="ui button search" >Buscar</div>
		</div>

		<!-- RESULTADOS DE BUSQUEDA-->
		<div class="result-div">
			<div class="field">
				<label>Resultados de la búsqueda</label>
			</div>
			<table class="ui celled table">
			  <thead>
			    <tr>
			      <th>Panta</th>
			      <th>Enfermedad / Sintomas</th>
			      <th>Localidad</th>
			      <th>Tratamiento</th>
			      <th>Aplicación</th>
			      <th><i class="icon unhide"></i></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td rowspan="2">
			      	<img src="{% static 'login/img/logo.png' %}" width="60"/>
			      	<p class="plant-name">Sabila</p>
			      </td>
			      <td>Gripe</td>
			      <td>Barranca, la vega</td>
			      <td>Aplicar sobre el cabello humedecido, luego mojarlo</td>
			      <td>
			      	<li>Te</li>
			      	<li>Parche</li>
			      </td>
			      <td class="td table-options row-details" rowspan="2" title="Mostrar mas detalles.">
			      	<li></li>
			      	<li></li>
			      	<li></li>
			      </td>
			    </tr>
			    <tr>
			    	<td colspan="4"><b>Literatura:</b> (derechos del autor, de la edición, depósito legal —abreviado)</td>
			    </tr>
			    <tr class="tr divider"><td colspan="6"></td> </tr>

			    <tr>
			      <td rowspan="2">
			      	<img src="{% static 'login/img/logo.png' %}" width="60"/>
			      	<p class="plant-name">Milenrama</p>
			      </td>
			      <td>Gripe / Alergia, Estornudos, Fiebre</td>
			      <td>Barranca, la vega</td>
			      <td>Se prepara un té con una cucharadita de café rasa de hojas y flores secas de milenrama por taza de agua y se toman tres o cuatro tacitas al día, espaciadas entre sí unas horas.</td>
			      <td>
			      	<li>Te</li>
			      </td>
			      <td class="td table-options row-details" rowspan="2" title="Mostrar mas detalles.">
			      	<li></li>
			      	<li></li>
			      	<li></li>
			      </td>
			    </tr>
			    <tr>
			    	<td colspan="4"><b>Literatura:</b> (derechos del autor, de la edición, depósito legal —abreviado)</td>
			    </tr>
			    <tr class="tr divider"><td colspan="6"></td> </tr>

			  </tbody>
			</table>

			<div class="ui right floated pagination menu">
		        <a class="icon item">
		          <i class="left chevron icon"></i>
		        </a>
		        <a class="item">1</a>
		        <a class="item">2</a>
		        <a class="item">3</a>
		        <a class="item">4</a>
		        <a class="icon item">
		          <i class="right chevron icon"></i>
		        </a>
		    </div>

			<div class="ui button new-search" >Nueva busqueda</div>
		</div>
		
	</form>

	<!-- DETALLES DE REGISTRO -->
	<div class="result-details-div">

		<section >
			<div class="ui form" style="width:100%; height:50px;">
				<button class="ui button close-details-result" style="float:left;"><i class="chevron left icon"></i>Volver</button>
				<button class="ui button print" style="float:right;"><i class="print icon"></i>Imprimir</button>
				<button class="ui button export" style="float:right;"><i class="external share icon"></i>Exportar</button>
			</div>
		</section>



		<div class="ui form">
			<h2 class="ui dividing header"></h2>
		</div>

		<div class="doc-content">
			<div class="ui form">
				<div class="field">
					<label class="section-title">Aspectos Médicos</label>
				</div>
				<ul>
					<li>Enfermedad: <span class="resvalue">Gripe</span></li>
					<li>Categoria enfermedad: <span class="resvalue">Respiratorio</span></li>
					<li>Síntomas: <span class="resvalue">Alergia, Estornudos, Fiebre</span></li>					
				</ul>
				<div class="field">
					<label class="section-title">Aspectos Farmacognosticos</label>
				</div>
				<ul>
					<li>Planta: <span class="resvalue">Milenrama</span></li>
					<li>Usos: <span class="resvalue">Gripe</span></li>
					<li>Tratamiento: <span class="resvalue">Se prepara un té con una cucharadita de café rasa de hojas y flores secas de milenrama por taza de agua y se toman tres o cuatro tacitas al día, espaciadas entre sí unas horas.</span></li>
					<li>Partes usadas: <span class="resvalue">Hojas, Flores</span></li>
					<li>Aplicación: <span class="resvalue">Té</span></li>
					<li>Dosis: <span class="resvalue">Tres o Cuatros tazas al dia.</span></li>
					<li>Dosis para niños: <span class="resvalue">Tres o Cuatros tazas al dia.</span></li>
					<li>Dosis para embarazadas: <span class="resvalue">Tres o Cuatros tazas al dia.</span></li>

					<li><div class="field">
							<label>Etnobotánica:</label>
						</div>
					</li>

					<ul>
						<li>Resultado del uso de la planta: <span class="resvalue">Buenos resultados.</span></li>
						<li>Origen del tratamiento: <span class="resvalue">Abuela</span></li>
						<li>Origen de la planta: <span class="resvalue">Patio</span></li>
						<li>Existencia: <span class="resvalue">Muchas</span></li>
						<li>Recolección: <span class="resvalue">Siempre</span></li>
						<li>Localidad: <span class="resvalue">Santiago</span></li>
					</ul>
				</ul>

				<div class="field">
					<label class="section-title">Aspectos Botánicos</label>
				</div>

				<div class="ui items">
				  <div class="item">
				    <a class="ui tiny image">
				      <img src="{% static 'login/img/logo.png' %}">
				    </a>
				    <div class="content">
				      <a class="header" style="font-size:17px;"><span class="resvalue">Achillea millefolium</span></a>
				      <div class="description">
				        <p style="font-size:14px;"><span class="resvalue">Es una especie herbácea perteneciente a la familia de las Compuestas (Asteraceae)</span></p>
				      </div>
				    </div>
				  </div>
				</div>

				<ul>
					<li>Nombre común: <span class="resvalue">Milenrama</span></li>
					<li>No. herbario: <span class="resvalue">01</span></li>
					<li>No. de colección: <span class="resvalue">45</span></li>
					<li>Familia: <span class="resvalue">Asteraceae</span></li>
					<li>Pais: <span class="resvalue">Santiago</span></li>
					<li>Provincia: <span class="resvalue">Santiago</span></li>
					<li>Localidad: <span class="resvalue">Santiago</span></li>
					<li>Coordenadas geográficas: <span class="resvalue"> </span></li>
					<li>Altura: <span class="resvalue">30cm</span></li>
					<li>Vegetación: <span class="resvalue"></span></li>
					<li>Especies asociadas: <span class="resvalue">Herbácea</span></li>
					<li>Flor: <span class="resvalue">Blanca</span></li>
					<li>Fruto: <span class="resvalue"></span></li>
					<li>Recolector: <span class="resvalue">C. roesrch</span></li>
					<li>Determinado por: <span class="resvalue">C. roesrch</span></li>
					<li>Fecha: <span class="resvalue">10/06/2012</span></li>
				</ul>


				<div class="field">
					<label class="section-title">Estadisticas</label>
				</div>

				<ul>
					<li>Uso de la panta: <span class="resvalue">1429 de 4084 (35%)</span></li>
				</ul>

			</div>
			
		</div>

	</div>

</div>
	

	<script type="text/javascript" src="{% static 'adm/js/search_form.js' %}"></script>

{% endblock %}
 