<title>Usuarios</title>

{% extends "main.html" %}

{% block content %}

{% load staticfiles %}
	
<link rel="stylesheet" type="text/css" href="{% static 'adm/css/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'adm/css/user_form.css' %}"/>

<div class="quiz-content">

    <form class="ui form">

    <h2 class="ui non-dividing header">Usuarios</h2>
    
    <!-- TABLA USUARIOS -->
    <div class="user-form">
        <h4 class="ui dividing header">Información básica</h4>

        <div class="ui search" style="float:right; margin-bottom:10px;">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Buscar usuario">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>

        <table class="ui compact celled definition table">
          <thead class="full-width">
            <tr>
              <th></th>
              <th>Nombre</th>
              <th>Usuario</th>
              <th>Permisos</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="collapsing">
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
              <td>John Lilki</td>
              <td>jl01</td>
              <td><a class="setpermisions-buttom">Configurar</a></td>
              <td>
                <div class="ui small basic icon buttons">
                    <button class="ui button"><i class="file icon"></i></button>
                    <button class="ui button"><i class="delete icon"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="collapsing">
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
              <td>Ana Karen</td>
              <td>ana</td>
              <td><a class="setpermisions-buttom">Configurar</a></td>
              <td>
                <div class="ui small basic icon buttons">
                    <button class="ui button"><i class="file icon"></i></button>
                    <button class="ui button"><i class="delete icon"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="collapsing">
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
              <td>Jamie Harington</td>
              <td>Jhmmn</td>
              <td><a class="setpermisions-buttom">Configurar</a></td>
              <td>
                <div class="ui small basic icon buttons">
                    <button class="ui button"><i class="file icon"></i></button>
                    <button class="ui button"><i class="delete icon"></i></button>
                </div>
              </td>
            </tr>

          </tbody>
          <tfoot class="full-width">
            <tr>
              <th></th>
              <th colspan="4">
                <div class="ui right floated small labeled icon button create-user">
                  <i class="user icon"></i> Nuevo usuario
                </div>
                <div class="ui small button">
                  Anterior
                </div>
                <div class="ui small button">
                  Siguiente
                </div>
              </th>
            </tr>
          </tfoot>
        </table>
    </div>

    <!-- PERMISOS USUARIOS -->
    <div class="userpermision-form">
        <h4 class="ui dividing header">Permisos</h4>


        <div class="grouped fields">
        <label for="fruit">Seleccione los permisos correspondientes para (el usuario):</label>
        <div class="field">
          <div class="ui checkbox checkbox">
            <input type="checkbox" name="fruit" tabindex="0" class="hidden">
            <label>Consulta</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox checkbox">
            <input type="checkbox" name="fruit" tabindex="0" class="hidden">
            <label>Registro de encuestas</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox checkbox">
            <input type="checkbox" name="fruit" tabindex="0" class="hidden">
            <label>Registro en herbario</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox checkbox">
            <input type="checkbox" name="fruit" tabindex="0" class="hidden">
            <label>Adm. tablas de control</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox checkbox">
            <input type="checkbox" name="fruit" tabindex="0" class="hidden">
            <label>Adm. de usuarios</label>
          </div>
        </div>

        <div class="ui right floated small labeled icon button save-user-permisions">
            <i class="check icon"></i> Guardar cambios
        </div>
    </div>
    </div>

    <!-- REGISTRO USUARIOS -->
    <div class="user-registration-form">
        <h4 class="ui dividing header">Registro de usuarios</h4>

        <div class="two fields">
            <div class="field">
            <label>Nombre</label>
            <div class="field">
                <input type="text" name="shipping[last-name]" placeholder="Nombre">
            </div>
          </div>
            <div class="field">
            <label>Apellido</label>
            <div class="field">
                <input type="text" name="shipping[last-name]" placeholder="Apellido">
            </div>
          </div>
        </div>

        <div class="field">
          <label>Correo</label>
          <div class="field">
              <div class="field">
                  <input type="text" placeholder="Genero">
              </div>
          </div>
        </div>

        <h4 class="ui dividing header">Datos de acceso</h4>

        <div class="two fields">
            <div class="field">
              <label>Usuario</label>
              <div class="field">
                  <input type="text" placeholder="Usuario">
              </div>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
              <label>Contraseña</label>
              <div class="field">
                  <input type="text" placeholder="Contraseña">
              </div>
            </div>
            <div class="field">
              <label>Confirme la contraseña</label>
              <div class="field">
                  <input type="text" placeholder="Contraseña">
              </div>
            </div>
        </div>

        <div class="ui right floated small labeled icon button discard-user">
            <i class="delete icon"></i> Descartar
        </div>
        <div class="ui right floated small labeled icon button save-user">
            <i class="check icon"></i> Guardar
        </div>
    </div>

  </form>





    

</div>
	

	<script type="text/javascript" src="{% static 'adm/js/user_form.js' %}"></script>

{% endblock %}
 